@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Black.woff2") format("woff2"),
    url("/fonts/Recoleta-Black.woff") format("woff"),
    url("/fonts/Recoleta-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SofiaPro";
  src: url("/fonts/SofiaPro.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #361a0c;
  --foreground: #ffffff;
  --primary: #ffd700;
  --secondary: #a67c52;
  --accent: #ff1493;
}

body {
  font-family: "SofiaPro", sans-serif;
  color: var(--foreground);
  background: var(--background);
  cursor: url('/cursors/cursor.cur'), auto;
}

.font-recoleta {
  font-family: "Recoleta", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--background);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

* {
  cursor: url('/cursors/cursor.cur'), auto;
}


:is(p, h1, h2, h3, h4, h5, h6, span, a, input, textarea)::selection {
  cursor: url('/cursors/select.cur'), text;
}

:is(p, h1, h2, h3, h4, h5, h6, span, a, input, textarea) {
  cursor: url('/cursors/select.cur'), text;
}

button, 
[role="button"], 
a[href], 
input[type="submit"], 
input[type="image"], 
input[type="button"], 
label[for], 
select, 
summary {
  cursor: url('/cursors/cursor.cur'), pointer;
}

button:active, 
[role="button"]:active, 
a[href]:active, 
input[type="submit"]:active, 
input[type="image"]:active, 
input[type="button"]:active, 
label[for]:active, 
select:active, 
summary:active {
  cursor: url('/cursors/cursor_click.cur'), pointer;
}