@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta-Black.woff2") format("woff2"),
    url("/fonts/Recoleta-Black.woff") format("woff"),
    url("/fonts/Recoleta-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SofiaPro";
  src: url("/fonts/SofiaPro.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #361a0c;
  --foreground: #ffffff;
  --primary: #ffd700;
  --secondary: #a67c52;
  --accent: #ff1493;
}

body {
  font-family: "SofiaPro", sans-serif;
  color: var(--foreground);
  background: var(--background);
}

.font-recoleta {
  font-family: "Recoleta", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--background);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}