@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #361a0c;
  --foreground: #ffffff;
  --primary: #FFD700;
  --secondary: #A67C52;
  --accent: #FF1493;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px; 
  border: 2px solid var(--background);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}
